#section5{
    width: 100%;
    margin-bottom: 5rem;
    .container{
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        .title{
            @include align_center;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            h2{
                @include h2_text;
            }
            .show__all{
                color: $soomgo-main__color;
                @include align_center;
                >span{
                    font-size: 1rem;
                }
                >img{
                    margin-top: 0.125rem;
                }
            }
        }
        .content{
            width: 100%;
            .main-community__wrap{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1.875rem;
                .curation__container{
                    width: 100%;
                    .curation__list{
                        width: 100%;
                        .curation__item{
                            margin-bottom: 0.125rem;
                            padding: 0.75rem 0.125rem;
                            .curation__link{
                                width: 100%;
                                display: grid;
                                grid-template-columns: minmax(24.5rem, 1fr) auto;
                                border-bottom: 0.0625rem solid $soomgo-sub__color;
                                .curation__content{
                                    width: 100%;
                                    p{
                                        font-size: 0.875rem;
                                        color: $sub-text__color;
                                        &.curation__topic{
                                            font-size: 0.75rem;
                                            margin-bottom: 0.3125rem;
                                        }
                                        &.curation__title{
                                            @include text_overflow;
                                            margin-bottom: 0.1875rem;
                                            font-weight: 500;
                                            color: $main-text__color;
                                        }
                                        &.curation__text{
                                            @include text_overflow;
                                            margin: 0;
                                        }
                                    }
                                    .curation__reaction{
                                        @include align_center;
                                        margin-top: 0.375rem;
                                        >span{
                                            @include align_center;
                                            font-size: 0.75rem;
                                            line-height: 1.5rem;
                                            color: $mini-text__color;
                                            &.view__counts{
                                                margin-right: 0.875rem;
                                                &::before{
                                                    content: '';
                                                    @include icon_img;
                                                    margin-right: 0.25rem;
                                                    background: url(../../../../public/images/view_icon.svg) no-repeat center center;
                                                }
                                            }
                                            &.comment__counts{
                                                @include align_center;
                                                &::before{
                                                    content: '';
                                                    @include icon_img;
                                                    margin-right: 0.25rem;
                                                    background: url(../../../../public/images/comment_icon.svg) no-repeat center center;
                                                }
                                            }
                                        }
                                    }
                                }
                                .curation__img{
                                    width: 100%;
                                    height: 100%;
                                    @include align_center;
                                    >img{
                                        width: 4rem;
                                        height: 4rem;
                                        @include img_fit;
                                        border-radius: 0.5rem;
                                        border: 0.0625rem solid $soomgo-sub__color;
                                    }
                                }
                            }
                        }
                    }
                }
                .knowhow__container{
                    width: 100%;
                    .knowhow__list{
                        width: 100%;
                        margin: 1.5rem 0;
                        .knowhow__item{
                            &:first-child{
                                margin-bottom: 1.75rem;
                            }
                            .knowhow__link{
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                align-items: center;
                                .knowhow__img{
                                    width: 13.125rem;
                                    height: 8.75rem;
                                    margin-right: 1.25rem;
                                    >img{
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 0.5rem;
                                        border: 0.0625rem solid $soomgo-sub__color;
                                        object-fit: cover;
                                    }
                                }
                                .knowhow__content{
                                    width: 100%;
                                    margin-right: 0;
                                    >p{
                                        color: $sub-text__color;
                                        font-size: 0.875rem;
                                        @include text_overflow;
                                        &.knowhow__service{
                                            margin-bottom: 0.5rem;
                                        }
                                    }
                                    .knowhow__title{
                                        max-height: 3rem;
                                        line-height: 1.5rem;
                                        -webkit-line-clamp: 2;
                                        >p{
                                            font-size: 1rem;
                                            font-weight: 500;
                                            margin-bottom: 1.5rem;
                                            color: $main-text__color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}