#section1{
    width: 100%;
    padding-top: 1rem;
    .container{
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        &:hover{
            .slide__btn{
                display: block;
            }
        }
        .slide__wrap{
            width: 100%;
            display: flex;
            .slide__item{
                width: 100%;
                .slide__img{
                    width: 100%;
                    height: 100%;
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .slide__text{
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            p{
                width: 2.6875rem;
                height: 1.5rem;
                border-radius: 3.125rem;
                background-color: $soomgo-gray2__color;
                @include layout_center;
                span{
                    font-size: 0.75rem;
                    color: $soomgo-white__color;
                }
            }
        }
        .slide__btn{
            width: 100%;
            display: none;
            .btn__item--prev{
                position: absolute;
                top: 7.5rem;
                left: 1rem;
                button{
                    @include slide_btn;
                    background-color: $soomgo-gray2__color;
                }
            }
            .btn__item--next{
                position: absolute;
                top: 7.5rem;
                right: 1rem;
                button{
                    @include slide_btn;
                    background-color: $soomgo-gray2__color;
                }
            }
        }
    }
}