// 모든 Sass 도구와 도우미
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 사이트 전반에 사용될 폰트, 디폴트 스타일
@import 'base/animations';
@import 'base/reset';
@import 'base/typography';

// 페이지 레이아웃
@import 'layout/grid';
@import 'layout/header';
@import 'layout/home';
@import 'layout/footer';
@import 'layout/forms';
@import 'layout/navigation';
@import 'layout/sidebar';

// 소형 레이아웃
@import 'components/buttons';
@import 'components/cover';
@import 'components/media';

// 페이지 고유의 스타일
@import 'pages/request';
@import 'pages/finding';
@import 'pages/market';
@import 'pages/community';
@import 'pages/login';
@import 'pages/join';
@import 'pages/expertJoin';
// 페이지 홈 고유의 스타일
@import 'pages/home/section1';
@import 'pages/home/section2';
@import 'pages/home/section3';
@import 'pages/home/section4';
@import 'pages/home/section5';
@import 'pages/home/section6';
@import 'pages/home/section7';
@import 'pages/home/section8';
@import 'pages/home/section9';
@import 'pages/home/section14';

// 외부 라이브러리 및 프레임워크
@import 'vendors/bootstrap';
