// color
$soomgo-main__color: #00c7ae;
$soomgo-sub__color: #f5f5f5;
$soomgo-gray__color: #f9f9f9;
$soomgo-gray2__color: rgba(0,0,0,.15);
$soomgo-gray3__color: #b5b5b5;
$soomgo-white__color: #fff;
$soomgo-black__color: #000;
$soomgo-red__color: #ff0000;
$soomgo-yellow__color: #ffcc00;
$soomgo-green__color: #00cc00;
$soomgo-btn__on: #eafaf9;


// line color
$border-line__color: #e1e1e1;

// font-color
$main-text__color: #323232;
$sub-text__color: #737373;
$mini-text__color: #c5c5c5;
$soomgo-pay__color: #2257df;

// font-size
$h2-text__size: 1.5rem;
$main-text__size: 1rem;
$sub-text__size: 0.875rem;
$mini-text__size: 0.75rem;
