
    .topic{
        width: 200px;
        margin: 2px 0 ;
        .nav-list{
            width: 100%;
            height: 64px;
            display: flex;
            align-items: center;
            
            padding: 17px 20px;
            border-radius: 8px;
    
            &.on{
                background-color: rgb(234, 250, 249);
                font-weight: 700;
                a{
                    span{
                        color: #323232;
                        font-weight: 700;
                    }
                }
    
            }
            &:nth-child(5){
                >a{
                    > img{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            > a{
                
                > img{
                    width: 24px;
                    height: 24px;
                    margin: 0 10px 0 0;
                }
                span{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    color: #a9a9a9;
            
                }
            }
        }
    }


