#wrap{
    // display: grid;
    // grid-template-rows: auto 1fr auto;
    // grid-template-areas:
    // 'header'
    // 'home'
    // 'footer';
    // @include layout_gap;
}
#header{
    grid-area: header;
}
#home{
    grid-area: home;
}
#footer{
    grid-area: footer;
}